.ho-dropdown {
  padding: 0.25rem;
  font-weight: 500;
}

.ho-main {
  padding: 0.25rem;
}

.ho-dropdown-item {
  width: 60%;
}

@media only screen and (max-width: 576px) {
  .ho-dropdown-item {
    width: 100%;
  }
}
