.e-main {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 1fr;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem;
  }
  
  .e-main-item {
    padding: 0.5rem;
    margin: 0.5rem;
    height: 100%;
    width: max-content;
  }
  
  @media only screen and (max-width: 400px) {
    .e-main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: space-around;
    }
    .e-main-item {
      display: contents;
    }
    .ec-main {
      display: table;
      margin-bottom: 20px;
    }
  }
  
  @media only screen and (max-width: 576px) {
    .e-main {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: 1fr;
      align-items: center;
      justify-content: space-around;
    }
  }
  
  @media only screen and (max-width: 812px) {
    .e-main {
      display: flex;
      flex-wrap: wrap;
      height: max-content;
      justify-content: center;
    }
    .e-dropdown-item {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 813px) {
    .e-main {
      display: flex;
      flex-wrap: wrap;
      height: max-content;
      justify-content: space-around;
    }
  }
  