* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.p-title-nam {
  padding: 1rem;
  font-weight: 500;
  font-size: x-large;
}

.p-main {
  padding: 1rem;
  display: grid;
  grid-template-areas: "steps circBar";
  grid-template-columns: 0.6fr 0.4fr;
  grid-row: 1fr;
}

.p-circBar {
  padding: 1rem;
  grid-area: circBar;
  justify-self: center;
  align-self: center;
}

.p-steps {
  padding: 1rem;
  grid-area: steps;
  justify-self: center;
  align-self: center;
}

.pr-block-main {
  display: flex;
  flex-direction: row;
}

.pr-block-gr {
  align-self: center;
  margin: 0.2rem;
  border-radius: 0.25rem;
  height: 15px;
  width: 15px;
  background: rgba(0, 143, 0, 0.7);
}

.pr-block-rd {
  align-self: center;
  margin: 0.2rem;
  border-radius: 0.25rem;
  height: 15px;
  width: 15px;
  background: rgb(255, 0, 0, 0.4);
}

@media only screen and (max-width: 980px) {
  .p-main {
    padding: 1rem;
    display: grid;
    grid-template-areas: "circBar" "steps";
    grid-template-columns: 2fr;
    grid-row: 2fr;
  }
}
@media only screen and (max-width: 576px) {
  .p-main {
    padding: 1rem;
    display: grid;
    grid-template-areas: "circBar" "steps";
    grid-template-columns: 1fr;
    grid-row: 1fr;
  }
}
