.pdf-display {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: inline-block;
  }

.pdf-display canvas {
  width: 60% !important;
}

@media only screen and (max-width: 576px) {
  .pdf-display canvas {
    width: 100% !important;
  }
}

.react-pdf__Page {
  justify-content: center;
  display:flex;
}