.pdf-display {
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: center;
    align-items: center;
    display: inline-block;
  }

  .pdf-display canvas {
    width: 80% !important;
  }

  .react-pdf__Page {
    justify-content: center;
    display:flex;
  }